/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}

@mixin _1500{
    @media (max-width: 1500px){
        @content;
    }
}

@mixin _1400{
    @media (max-width: 1400px){
        @content;
    }
}

@mixin _1200{
    @media (max-width: 1200px){
        @content;
    }
}

@mixin _1000{
    @media (max-width: 1000px){
        @content;
    }
}

@mixin _800{
    @media (max-width: 800px){
        @content;
    }
}

@mixin _600{
    @media (max-width: 600px){
        @content;
    }
}

html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container{
    padding: 0px 100px;
    width: 100%;

    @include _1500{
        padding: 0px 50px;
    }    
}

button{
    // background-color: transparent;
    border: 3px solid #5c3064;
    cursor: pointer;
    transition: .3s;
}

.header {
    flex: 0 0 auto;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
    }

    &-menu{
        width: 100%;
        max-width: 1900px;
        margin-left: 100px;

        @include _1400{
            margin-left: 40px;
        }

        @include _1000{
            display: none;
        }

        &__items{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__item{
            list-style: none;
            font-size: 30px;
            font-weight: 600;

            @include _1400{
                font-size: 23px;
            }

            a{
                text-decoration: none;
                color: #5c3064;
            }

            & + &{
                margin-left: 40px;
            }
        }
    }
}

.main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: linear-gradient(45deg, #6D3E72, transparent);
    }
}

.section{
    &__title{
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        margin: 80px 0 60px 0;
        color: #5c3064;

        @include _1400{
           font-size: 50px;
        }

        @include _800{
           font-size: 30px;
        }
    }

    &__button{
        padding: 10px;
        color: #5c3064;
        background-color: #fff;
        width: 100%;
        border-radius: 5px;
        font-size: 40px;
        box-sizing: border-box;

        &:hover{
            background-color: #5c3064;
            color: #fff;
        }
    }

    &__content{
        padding-bottom: 20px;
    }

    &-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-bottom: 50px;

        @include _1400{
            background-image: url('../../images/bg.JPG');
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__title{
            color: #fff;
        }

        &__video{
            position: absolute;
            right: 0;
            top: 0;
            z-index: -9999;

            @include _1200{
                display: none;
            }
        }

        &__content{
            display: flex;
            align-items: center;
            justify-content: space-around;

            &-image{
            
            @include _1400{
                width: 250px;
            }

            @include _800{
                width: 200px;
            }

                img{
                width: 100%;
                }
            }

            &-right{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 60px;
            }

            &-points{
                padding: 20px 20px 20px 0;
                position: relative;
                margin-bottom: 60px;

                @include _1400{
                    z-index: 0;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #5c3064;
                    z-index: -10;
                    // opacity: 0.5;
                    filter: blur(50px);

                    @include _1400{
                        z-index: -1;
                    }
                }
            }

            &-point{
                list-style: none;
                font-size: 50px;
                font-weight: 600;
                color: #fff;

                @include _1400{
                    font-size: 40px;
                }

                @include _800{
                    font-size: 28px;
                }

                & + &{
                    margin-top: 30px;
                }
            }
        }
    }

    &-ingridients{
        width: 100%;

        &__content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            // height: 100%;

            @include _800{
                justify-content: space-around;
            }

            @include _600{
                justify-content: space-between;
            }
        }

        &__product{
            display: flex;
            flex-direction: column;
            align-items: center;

            @include _800{
                display: none;
            }

            &-photo{
                margin-bottom: 20px;

                img{
                    @include _1400{
                        max-width: 200px;
                    }
                }
            }
        }

        &__items{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        &__item{
            border: 2px solid #5c3064;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;

            & + &{
                margin-top: 15px;
            }

            &-photo{
                width: 100%;
                border-radius: 100%;
                overflow: hidden;
                border: 1px solid #5c3064;
                // background-image: url('../../images/ingridient.jpg');

                img{
                    max-width: 300px;

                    @include _1400{
                        max-width: 200px;
                    }
                }
            }

            &-title{
                font-size: 30px;
                color: #5c3064;
            }
        }
    }

    &-reviews{
        width: 100%;

        &__content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            min-width: 0;
            width: 100%;
        }

        &__items{
            display: flex;
            align-items: center;
            min-width: 0;
            width: 100%;
        }

        // &-animation{
        //     transition: .5s all ease-in-out;
        // }

        &__item{
            width: 33.3%;
            padding-left: 40px;
            transition: .5s all ease-in-out;
            min-width: 0;

            &-show{
                transform: scale(1);
            }

            &-inner{
                border: 2px solid #5c3064;
                box-sizing: border-box;
                border-radius: 10px;
                overflow: hidden;
                min-width: 0;
            }

            &-photo{
                width: 500px;
                background-color: #5c3064;
                overflow: hidden;
                min-width: 0;

                @include _800{
                    width: 400px;
                }

                @include _600{
                    width: 300px;
                }

                img{
                    max-width: 400px;
                    max-height: 266px;
                    width: 100%;
                }
            }

            &-name{
                font-size: 25px;
                padding: 5px 0;
                text-align: center;
                color: #fff;
            }

            &-text{
                font-size: 20px;
                line-height: 30px;
                padding: 15px;
                width: 500px;
                background-color: #fff;

                @include _1400{
                    font-size: 18px;
                }

                @include _800{
                    width: 400px;
                }

                @include _600{
                    width: 300px;
                }
            }
        }

        &__button{
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            background-color: #fff;
            position: absolute;
            top: 120px;
            z-index: 10;

            @include _800{
                display: none;
            }

            &-left{
                left: -50px;


                @include _1500{
                    left: -20px;
                }
            }

            &-right{
                right: -50px;

                @include _1500{
                    right: -20px;
                }
            }

            svg{
                stroke: #5c3064;
            }

            &:hover{
                background-color: #5c3064;
            }

            &:hover svg{
                stroke: #fff;
            }
        }
    }

    &-promo{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #6D3E72;
        padding: 30px 0;

        &__line{
            display: flex;
            align-items: center;
        }

        &__photo{

            @include _800{
                display: none;
            }
            
            img{
                width: 500px;

                @include _1200{
                    width: 300px;
                }
            }
        }

        &__right{
            margin-left: 30px;

            @include _800{
                margin-left: 0;
            }
        }

        &__desc{
            font-size: 30px;
            text-align: justify;
            line-height: 45px;
            color: #fff;
            margin-bottom: 30px;

            @include _1200{
                font-size: 20px;
            }
        }

        &__points{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;

            @include _1200{
                justify-content: space-evenly;
            }
        }

        &__point{
            color: #fff;
            font-size: 40px;
            list-style-position: inside;

            @include _1200{
                font-size: 25px;
            }

            @include _800{
                font-size: 15px;
            }
        }
    }

    &-order{
        margin-bottom: 20px;

        &__countdown{
            height: 80px;
            background-color: #b51928;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 40px;
            font-weight: 600;

            @include _1000{
                height: auto;
                flex-direction: column;
                padding: 20px 0;
            }

            &-text{
                margin-right: 30px;

                @include _1000{
                    margin-right: 0;
                    font-size: 35px;
                }

                @include _800{
                    font-size: 25px;
                }
            }

            &-item{
                &:last-child::before{
                    content: ':';
                }
            }
        }

        &__content{
            display: flex;
            justify-content: space-between;
            padding: 30px;
        }

        &__product{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include _1200{
                width: 40%;
            }

            &-photo{
                @include _1200{
                    width: 250px;
                }

                @include _1000{
                    width: 180px;
                }

                img{
                    width: 100%;
                }
            }

            &-price{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                position: relative;

                &-new{
                    font-size: 50px;
                    margin-left: 30px;
                    padding: 5px;
                    border-radius: 5px;
                    box-sizing: border-box;
                    animation: color-change 3s alternate linear infinite;

                    @include _1200{
                        animation: none;
                        position: absolute;
                        margin-left: 0;
                        left: 50%;
                        background-color: #6D3E72;
                        color: #eb0808;
                        font-size: 35px;
                    }

                    @include _1000{
                        font-size: 25px;
                        text-align: center;
                    }
                }

                &-old{
                    font-size: 25px;
                    color: #5f5e5e;
                    text-decoration: line-through;

                    @include _1200{
                        position: absolute;
                        left: 25%;
                    }

                    @include _1000{
                        font-size: 20px;
                    }
                }
            }
        }

        &__form{
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-top: 20px;

            @include _1200{
                width: 60%;
            }

            @include _1000{
                display: none;
            }

            &--small{
                display: none;

                @include _1000{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    padding-top: 20px;
                }
            }
        }

        &__label{
            font-size: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            

            @include _1400{
                font-size: 27px;
            }
        }

        &__input{
            padding: 5px;
            border: 2px solid #5c3064;
            box-sizing: border-box;
            border-radius: 5px;
            
            @include _1000{
                width: 100%;
            }
            
        }

        &__button{
            padding: 10px;
            border-radius: 5px;
            font-size: 30px;
            background-color: transparent;

            &:hover{
                background-color: #5c3064;
                color: #fff;
            }
        }
    }
}

.footer{
    flex: 0 0 auto;
    background-color: #6D3E72;
    padding: 5px;
    color: #fff;
    text-align: center;
}


@keyframes color-change {
    from {
      background-color: #fff;
      color: #000;
    }
    50% {
      background-color: #7F6EDB;
    }
    to {
      background-color: #6D3E72;
      color: #eb0808;
      transform: scale(1.5);
    }
}




